.dfa {
  &-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 125px;
    min-width: 75px;
    max-width: 75px;
    padding: 16px;
    border-radius: 50px;
    background: $white;
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.2);
    margin: 10px 8px;

    &.active {
      background: $orange;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background: $white;
    }

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: inherit;
    }

    &__name {
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      font-weight: 600;
      word-break: break-word;
    }
  }
}