.dfa {
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    &__title {
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      color: $orange;
    }

    &__user {
      &-thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 37px;
        width: 37px;
        background: #f6f6f6;
        border-radius: 50%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }

      }
    }
  }
}