* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.dfa-app {
  height: 100%;
}

main {
  padding: 0 20px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h1 {
  font-size: 35px;
  font-weight: 800;
}

input,
button {
  border: none;
  outline: none;
}

button {
  background: $light-grey;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}